@import url(_dashboard.scss);
.button_gradient {
  background: -webkit-linear-gradient(84.28deg, #a61dc2 0%, #4e3cca 150.81%);
}
.card_graident {
  background: -webkit-linear-gradient(
    173.29deg,
    #222121 2.8%,
    #343131 45.9%,
    #1b1818 94.74%
  );
}
.header_after::after {
  content: "";
  position: absolute;
  display: block;
  width: 45px;
  height: 2px;
  background: -webkit-linear-gradient(84.28deg, #a61dc2 0%, #4e3cca 150.81%);
  top: 50%;
  left: 100%;
  margin: 0px 10px;
  transform: translate(5%, -50%);
}
.header_after::before {
  content: "";
  position: absolute;
  display: block;
  width: 45px;
  height: 2px;
  background: -webkit-linear-gradient(84.28deg, #a61dc2 0%, #4e3cca 150.81%);
  top: 50%;
  right: 100%;
  margin: 0px 10px;
  transform: translate(0%, -50%);
}
.header_after {
  position: relative;
}
.big_collection {
  transform: translate(-59%, 6%);
}
.hover_underline {
  position: relative;
  margin-bottom: 4px;
}
.hover_underline:hover {
  color: #4e3cca;
}
.hover_underline:hover::after {
  width: 100%;
}
.hover_underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #4e3cca;
  transition: width 0.3s;
}
.about_us {
  background-image: url(../../src/images/aboutBanner.jpeg);
}

.image_position {
  transform: translate(-32%, -50%);
}
.header_gradient {
  border-left: 3px solid #4e3cca;
}
.common_translate {
  transform: translate(-32%, -7%);
}
